.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: hidden;

}

/* --- Titel & Beschreibung --- */
.title {
  font-size: 3.2rem;
  line-height: 0.3;
  text-align: center;
  margin-bottom: 1,5rem;
  padding: 30px;
}

.description {
  max-width: 90%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 1,5rem;
  padding: 30px;
}

/* --- Glow-Stil für Städte --- */
.stadtButton {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.78);
  --btn-color: rgb(100, 61, 136);
  border: 0.2em solid var(--glow-color);
  padding: 0.5em 1.2em;
  color: var(--glow-color);
  font-size: 14px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 0.8em;
  outline: none;
  box-shadow:
    0 0 0.7em 0.2em var(--glow-color),
    0 0 2em 0.8em var(--glow-spread-color),
    inset 0 0 0.5em 0.2em var(--glow-color);
  text-shadow: 0 0 0.4em var(--glow-color);
  position: relative;
  transition: all 0.3s ease;
  cursor: grab;
  text-align: center;
  
}

.stadtButton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(1.5em);
  opacity: 0.6;
  transform: perspective(1.2em) rotateX(35deg) scale(1, 0.6);
}

.stadtButton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow:
    0 0 0.8em 0.2em var(--glow-color),
    0 0 3em 1.5em var(--glow-spread-color),
    inset 0 0 0.6em 0.2em var(--glow-color);
}

.stadtButton:active {
  transform: scale(0.96);
  box-shadow:
    0 0 0.4em 0.2em var(--glow-color),
    0 0 2em 1.5em var(--glow-spread-color),
    inset 0 0 0.4em 0.2em var(--glow-color);
}

/* --- Bundesländer & Downloadbutton 3D-Stil --- */
.bundeslandButton,
.downloadButton {
  --white: #ffe7ff;
  --bg: #080808;
  --radius: 100px;
  outline: none;
  cursor: pointer;
  border: 0;
  position: relative;
  border-radius: var(--radius);
  background-color: var(--bg);
  transition: all 0.2s ease;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  padding: 14px 22px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
}

/* --- Grid für Bundesländer & Städte --- */
.bundeslaenderGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
  grid-template-rows: repeat(4, auto);
  gap: 12px;
  width: 100%;
  grid-template-areas:
    "bw b ber mv"
    "bremen hh hessen bran"
    "nds nrw rp saar"
    "sachsen sa sh thu";
}

.staedteGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.controls {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  
}

.userInput {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.78);
  --btn-color: rgb(100, 61, 136);
  width: 20%;
  padding: 12px 6px 8px;
  margin-bottom: 20px;
  font-size: 16px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(235, 229, 229);                       
  background-color: #050008ff;            
  border-radius: 0.8em;
  text-align: center;
     
  box-shadow:
  0 0 0.2em 0.2em var(--glow-color),
    0 0 2em 0.2em var(--glow-spread-color),
    inset 0 0 0.2em 0.2em var(--glow-color);
  outline: none;
  transition: all 0.2s ease;
   border: 4px solid rgb(60, 53, 59);
  
}

.userInput:focus {
  outline: none;
  border-color: #5a055fff;            /* goldener Fokus */
  box-shadow: 0 2px 8px rgba(191,123,255,0.5);
}

.userInput:hover {
  border-color: #888;
}

.userInput:focus::placeholder {
  color:transparent;}


.points {
  font-size: 20px;
}

.gameGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 85%;
}
.downloadButton {
    margin-bottom: 20px;
}